.post {
    position: relative;
    color: #fff;
    border: 1px solid #fff;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    align-items: center;
    margin: 10px;
    background-color: #7c96cf;
}

.post img {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    order: 1;
}

.text {
    order: 2;
    padding-left: 20px;

}

.likes {
    position: absolute;
    bottom: 5px;
    right: 20px;
    self-align: center;
    order: 3;
    padding-left: 50px;
}