.nav {
    grid-area: n;
    background-color: #7c96cf;
    color: #fff;
    border-right: 1px solid #fff;
}

.nav li {
    text-decoration: none;
    list-style-type: none;
}

.nav a {
    text-decoration: none;
    color: white;
}

.nav .active {
    color: gold;
}
